@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

.main-container {
  height: 100%;
  width: 100%;
  background-color: white;
  font-family: "Raleway", sans-serif;
}

header {
  background: url("./images/background.jpg") no-repeat;
  background-position-y: -600px;
  background-size: 100%;
}

nav {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  background-color: rgb(129, 133, 129);
  background-image: linear-gradient(#818581, #666a66);
  margin: 0 2rem 0 2rem;
  color: white;
  border-radius: 10px;
  position: relative;
  top: 20px;
}

nav a {
  text-decoration: none;
  color: white;
}

.grid-logo {
  border-right: 1px solid rgba(0, 0, 0, 0.8);
  padding: 5px;
  font-size: 20px;
  text-align: center;
  height: 2rem;
}

.grid-store {
  border-right: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 20px;
  text-align: center;
  height: 2rem;
  padding: 5px;
}

.grid-mac {
  border-right: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 20px;
  text-align: center;
  height: 2rem;
  padding: 5px;
}

.grid-ipod {
  border-right: 1px solid rgba(0, 0, 0, 0.8);
  padding: 5px;
  font-size: 20px;
  text-align: center;
  height: 2rem;
}

.grid-iphone {
  border-right: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 20px;
  text-align: center;
  height: 2rem;
  padding: 5px;
}

.grid-ipad {
  border-right: 1px solid rgba(0, 0, 0, 0.8);
  padding: 5px;
  font-size: 20px;
  text-align: center;
  height: 2rem;
}

.grid-itunes {
  border-right: 1px solid rgba(0, 0, 0, 0.8);
  padding: 5px;
  font-size: 20px;
  text-align: center;
  height: 2rem;
}

.grid-support {
  border-right: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 20px;
  text-align: center;
  height: 2rem;
  padding: 5px;
}

.grid-search {
  font-size: 20px;
  text-align: center;
  height: 2rem;
  padding: 5px;
  position: relative;
  transition: 0.5s;
}

input,
textarea {
  margin-top: 5px;
  background-color: rgb(129, 133, 129);
  width: 70px;
  border-radius: 12px;
  height: 15px;
  padding: 2px 10px 1px 10px;
}

.fa-search {
  color: white;
  font-size: 20px;
  left: 26px;
  position: absolute;
  top: 11px;
}

section {
  color: white;
  text-align: center;
}

section h2 {
  font-size: 50px;
  font-weight: normal;
}

section p {
  line-height: 30px;
}

footer a {
  text-decoration: none;
  color: rgb(79, 184, 237);
}

.p-anchor a {
  text-decoration: none;
  color: white;
}

#last-anchor a {
  text-decoration: none;
  color: white;
}

#last-anchor a:hover {
  text-decoration: underline;
  color: white;
}

.promo-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 12rem;
  color: white;
  border: 1px solid rgb(153, 153, 153);
}

.iphone-5s {
  background-image: url("./images/iphone5s.jpg");
  background-size: 100% 100%;
  background-position: center;
  height: 12rem;
}

.iphone-5c {
  background-image: url("./images/iphone5c.jpg");
  background-size: 100% 100%;
  background-position: center;
  height: 12rem;
}

.birthday {
  background-image: url("./images/birthday.jpg");
  background-size: 100% 100%;
  background-position: center;
  width: inherit;
  text-align: center;
  height: 12rem;
}

.supplier {
  background-image: url("./images/supplier_responsibility.jpg");
  background-size: 100% 100%;
  background-position: center;
  width: inherit;
  text-align: center;
  height: 12rem;
}

footer {
  display: grid;
  grid-template-columns: auto auto;
  margin-left: 12rem;
  margin-right: 12.9rem;
  color: #000;
}

.p-grid {
  font-size: 10px;
  padding: 2px;
}

.list-grid {
  display: flex;
  font-size: 10px;
}

.list-grid ul {
  display: flex;
  list-style: none;
}

.list-grid ul li {
  padding: 2px;
}

.last-footer {
  display: flex;
  font-size: 10px;
}

.last-footer p {
  padding: 5px;
}
