@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
.main-container {
  height: 100%;
  width: 100%;
  background-color: white;
  font-family: "Raleway", sans-serif;
}

header {
  width: 70%;
  background: url("./images/background.jpg") no-repeat;

  background-position-y: -250px;
  background-size: cover;
  height: 32rem;
  margin: 0px 2rem 0px 12rem;
  border: 2px solid rgb(153, 153, 153);
}

nav {
  display: grid;
  grid-template-columns: repeat(9, 6em);
  background-color: rgb(129, 133, 129);
  background-image: linear-gradient(#818581, #666a66);
  margin: 4rem 2rem 0 2rem;
  border-radius: 0.1rem;
  color: white;
}
nav a{
  text-decoration: none;
  color: white;
}
.grid-logo {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 5px;
  font-size: 20px;
  text-align: center;
  height: 2rem;
}

.grid-store {
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 20px;
  text-align: center;
  height: 2rem;
  padding: 5px;
}

.grid-mac {
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 20px;
  text-align: center;
  height: 2rem;
  padding: 5px;
}
.grid-ipod {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 5px;
  font-size: 20px;
  text-align: center;
  height: 2rem;
}
.grid-iphone {
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 20px;
  text-align: center;
  height: 2rem;
  padding: 5px;
}
.grid-ipad {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 5px;
  font-size: 20px;
  text-align: center;
  height: 2rem;
}
.grid-itunes {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 5px;
  font-size: 20px;
  text-align: center;
  height: 2rem;
}
.grid-support {
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 20px;
  text-align: center;
  height: 2rem;
  padding: 5px;
}

.grid-search {
  border: 1px solid rgba(0, 0, 0, 0.8);
  background: none;
  text-align: center;
  position: absolute;

  height: 2rem;

  transition: 0.5s;
}

input,
textarea {
  margin-top: 10px;
  background-color: rgb(129, 133, 129);
  width: 70px;
  border-radius: 12px;

  height: 15px;
  padding: 2px 10px 1px 10px;
}

.fa-search {
  color: white;
  font-size: 20px;
  left: 5px;
  position: absolute;
  top: 10px;
}

section {
  color: white;
  text-align: center;
}

section h2 {
  font-size: 50px;
  font-weight: normal;
}
section p {
  line-height: 30px;
}

.promo-section {
  display: grid;
  grid-template-columns: repeat(4, auto);
  background-color: rgb(129, 133, 129);
  color: white;
  margin-left: 12rem;
  margin-right: 12.7rem;
}

.iphone-5s {
  background-image: url("./images/iphone5s.jpg");
  background-position: center;

  font-size: 20px;
  text-align: center;
  height: 10rem;
}

.iphone-5c {
  background-image: url("./images/iphone5c.jpg");
  background-position: center;

  font-size: 20px;
  text-align: center;
  height: 10rem;
}

.birthday {
  background-image: url("./images/birthday.jpg");
  background-position: center;
  
  font-size: 20px;
  text-align: center;
  height: 10rem;
}

.supplier {
  background-image: url("./images/supplier_responsibility.jpg");

  font-size: 20px;
  text-align: center;
  height: 10rem;
  background-position: center;
}

footer{
  display: grid;
  grid-template-columns: auto auto;
 
  margin-left: 12rem;
  margin-right: 12.7rem;
  color: #000;

}

footer a{
  text-decoration: none;
}

.p-grid{
  font-size: 10px;
  padding: 2px;
}
.list-grid{
  display: flex;
  font-size: 10px;
}

.list-grid ul{
  display: flex;
  list-style: none;
  
  
 
}

.list-grid ul li{
  padding: 2px;
  border-right: 1px solid grey;
  
  
 
}

.last-footer{
  display: flex;
  font-size: 10px;
  

}
.last-footer p{
 padding: 5px;
  border-right: 1px solid grey;

}